{% extends 'base.html' %}
{% load static %}


{% block meta %}{% endblock meta %}

{% block title %}Search Map{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'map/css/search_map.css' %}">
{% endblock link %}

{% block head_script %}
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1087e575a59f0ecd45887863b56a20f1&libraries=services"></script>
{% endblock head_script %}






{% block content %}
<div class="map"></div>
<div class="search-wrapper">
    <form class="search-form" onsubmit="searchPlaces(); return false;">
        <input type="search" name="" class="search-form__keyword">
        <input type="submit" value="검색" class="search-form__button">
    </form>
    <ul class="search-results">
    </ul>
</div>
{% endblock content %}

{% block script %}
<script>
    const csrf = "{{csrf_token}}"
    const api_url = "{% url 'map:add_favorite' %}"
    const update_api_url = "{% url 'map:update_favorite' %}"
</script>
<script src="{% static 'map/js/searchMap.js' %}"></script>
{% endblock script %}